extends layout

block content

 button#start(class='btn btn-success' onclick="Main.startGame()") Start Game

 #formModal.modal
  .modal-dialog
    .modal-content
      .modal-header
        h2.title-modal
      .modal-body
        p.formModal
      .modal-footer


 #contenedor
   #Horas.reloj 00
   #Minutos.reloj :00
   #Segundos.reloj :00
   #Centesimas.reloj :00
   //input#inicio.boton(type='button', value='Start ►', onclick='inicio();')
   //input#parar.boton(type='button', value='Stop ∎', onclick='parar();', disabled='')
   //input#continuar.boton(type='button', value='Resume ↺', onclick='inicio();', disabled='')
   //input#reinicio.boton(type='button', value='Reset ↻', onclick='reinicio();', disabled='')
