html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel='stylesheet', href='/bootstrap-4.0.0/css/bootstrap.min.css')
    
    script(src='//cdn.jsdelivr.net/npm/phaser@3.6.0/dist/phaser.min.js')

    script(src='/javascripts/jquery-3.3.1.min.js')

    script(src='/socket.io/socket.io.js')

    script(src='/javascripts/socket.js')
    script(src='/javascripts/pharser.js')
    
  body
    block content

