html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/cronometro.css')
    link(rel='stylesheet', href='/bootstrap-4.0.0/css/bootstrap.min.css')


    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/phaser.min.js')

    script(src='/socket.io/socket.io.js')

    script(src='/javascripts/bbdd.js')
    script(src='/javascripts/crono.js')
    script(src='/javascripts/game.js')
    script(src='/javascripts/main.js')
    script(src='/javascripts/client.js')
    
  body
    block content 


    script(src='/bootstrap-4.0.0/js/bootstrap.min.js')

