*{
	margin: 0;
	padding: 0;
}

#contenedor{
	margin: left;
	width: 540px;
	display: none;
	float: right;
}

.reloj{
	float: left;
	font-size: 50px;
	font-family: Courier,sans-serif;
	color: #363431;
}